/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/bb
/clj-jdbc
.clj-kondo/.cache
!java/src/clj_jdbc/impl/LockFix.class
!test-resources/clj_jdbc/src_for_classpath_test/foo.jar
!test-resources/pom.xml
.cpcache
*reflection.json
/tmp
/reports
